<div id="<%= dom_id card %>">
  <p>
    <strong>Image:</strong>
    <%= card.image %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= card.name %>
  </p>

  <p>
    <strong>Cardset:</strong>
    <%= card.cardSet %>
  </p>

</div>
