@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    background-color: #ECEEEC;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.Login {
    background-color: #FDCA40;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    flex-direction: column;
}

.Title {
    color: #080708;
}