@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Aladin', cursive;
font-family: 'Gurajada', serif;
font-family: 'Lemon', cursive;
font-family: 'Molengo', sans-serif;
font-family: 'Molle', cursive;
font-family: 'Noto Sans Display', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Rum Raisin', sans-serif;
font-family: 'Sonsie One', cursive;
font-family: 'Sora', sans-serif; */

.App {
    background-color: #FEEEC3;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.75rem;
}

.Subheader {
    font-family: 'Sora', bold sans-serif;   
    /* text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.434); */
    color: #080708;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}

.Login {
    text-align: center;
    background-color: #FDCA40;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
}

.loginHeader {
    font-family: 'Aladin', cursive;
    font-size: 42pt;
    color: #080708;
    margin-top: 10%;
    text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.434);
}

.googleLogin {
 margin-top: 17%;
 /* position: fixed; */
 /* bottom: 5em; */
}

.cardContainer {
    border: solid transparent 4px;
    position: relative;
    border-radius: .1em;
}
.cardContainerSelected {
    filter: drop-shadow(2px 2px 2px #00000098);
    position: relative;
    border-radius: .1em;
}

.cardImage {
    border-radius: .1em;
}
.cardNameDiv {
    background-color: #080708;
    width: 100%;
}
.cardName {
    font-size: small;
    position: absolute;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    color: white;
    bottom: 0;
    margin-left: .2em;
}

.cardNameBig {
    font-size: x-large;
    position: absolute;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    color: white;
    bottom: 0;
    margin-left: .2em;
}

.cardBig {
    border-radius: .2em;
    filter: drop-shadow(2px 3px 4px #0000006b);

}

.topicContainer {
    position: relative;
    margin: 20px;
}

.topicImage {
    border-radius: .2em;
    filter: drop-shadow(2px 3px 4px #0000006b);
}

.topicText{
    position: absolute;
    bottom: 0;
    font-size: 24pt;
    font-family: 'Sora';
    color: white;
    margin-left: .3em;
    font-weight: bold;
    text-shadow: 2px 1px 2px black;
}

.cardPlayImage {
    /* border: solid #0055ff 2px; */
    filter: drop-shadow(2px 2px 2px #00000098);
    position: relative;
    border-radius: .1em;
}

.textForm {
    padding: .4em;
    border-radius: .2em;
    width: 70%;
    border: solid black 1px;
}

.QAheader {
    font-family: 'Sora', bold sans-serif;   
    /* text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.434); */
    color: #080708;
    font-weight: bold;
    font-size: 17px;
    padding-right: .5em;
}

.QAtext {
    font-family: 'Sora', bold sans-serif;   
    font-size: 17px;
}

.victoryText {
    font-family: 'Aladin';
        font-size: 30pt;
        text-align: center;
        color: #080708;
        /* margin-top: 10%; */
        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.434);
}
/* 
.gameBar {
    display: flex
} */

.secretCardQuestion {
    width: 60%;
    border-radius: .2em;
    filter: drop-shadow(5px 6px 10px #00000076);
}

.gameBar {
    display: flex;
    /* border: 1px solid black; */
    border-radius: .2em;
    background-color: white;
    margin-top: .6em;
    margin-bottom: .6em;
    padding: .4rem;
    filter: drop-shadow(2px 3px 3px #0000005e);
}